{% extends "base.html" %}

{% block page_title %}
	{{page_title}}
{% endblock page_title %}

{% block contents %}
<div class="container">
	<div class="row" style="margin-top:80px">
		<div class="col-md-8">
			<div class="d-grid gap-2">
				{% if user.is_authenticated %}
					<a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Create Your Wrote</a>
				{% else %}
					<a class="btn btn-outline-primary" href="{% url 'account_login' %}">Create Your Wrote</a>
				{% endif %}
			</div>
			
			<br>

			{% for article in article_list %}
				<ul class="border-bottom">
					<h6><img style="width:30px;" src="{{article.user.user_picture.url}}" alt="user_picture"> {{article.user.name}}</h6>

					<h1>{{article.judul}}</h1>
					<p style="font-weight:normal; font-size:12px;">Category: {{article.kategori}} | {{article.publish.date}}</p>
					<p style="text-align:justify;" class="border-bottom">{{article.isi|truncatewords:50}} <a href="{% url 'blog:detail' article.slug %}">Selengkapnya</a></p>
				</ul>
			{% endfor %}
			{# PAGINATION #}
			{% include "snippets/page_all.html" %}
		</div>

		<div class="col-sm">
			<h3>Category</h3>

			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="{% url 'blog:blog' %}"><b>All Categories</b></a></li>

				{% for kategori in kategori_list %}
					<li class="list-group-item"><a href="{% url 'blog:category' kategori %}">{{kategori}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock contents %}